{{ attach_library('service_examples/employee-info' )}}
<div class="employee-info">
	<div class="text">
		<h2>{{ employee.first_name }}
			{{ employee.last_name }}</h2>

		<div class="title">{{ employee.title }}</div>

		{% if employee.department %}
			<div class="department">{{ employee.department }}</div>
		{% endif %}

		{% if days_since_hire %}
			<div class="hire-date">
				<label>{{ 'Team member for' | t }}</label>
        {% trans %}
          {{ days_since_hire }} day
        {% plural days_since_hire %}
          {{ days_since_hire }} days
        {% endtrans %}
      </div>
		{% endif %}
	</div>

	{% if employee.photo_url %}
		<div class="photo"><img src="{{ employee.photo_url }}"/></div>
	{% endif %}
</div>
